
nav {
   
    padding: 20px 40px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-content {
    
    width: 100%;
    max-width: 700px; 
    display: flex;
     justify-content: space-between;
     margin: auto;
}

.nav-left a {
    font-family: "Raleway", sans-serif;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
}

.nav-right ul {
    color: whitesmoke;
    display: flex;
    gap: 20px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    list-style: none;
    align-items: center;
    height: 100%;
}

.nav-right ul li a {
    text-decoration: none;
}

.nav-right ul li a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(201, 132, 201);
    text-decoration-thickness: 4px;
   text-underline-offset: 8px;
}

.nav-right ul li a:active {
    text-decoration: underline;
    text-decoration-color: rgb(201, 132, 201);
    text-decoration-thickness: 4px;
   text-underline-offset: 8px;
}