.page-title h2{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.544);
    text-decoration: none;
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.location-container {
    display: flex;
    gap: 12px;
    padding: 12px;
    flex-wrap: wrap;
    justify-content: center;
}
.location-buttons {
    display: flex;
    gap: 12px;
    width: fit-content;
}

.location-buttons button{
    font-size: 16px;
    background-color: rgba(240, 248, 255, 0.077);
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
}