.horse-image-container {
    margin: 10px;
  text-align: center;
}

.horse-images {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  /* p {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
  } */