.page-title{
    display: flex;
    flex-direction: column;
}
.page-title h2{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.544);
    text-decoration: none;
    font-weight: 700;
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.owner-container {
    display: flex;
    gap: 12px;
    padding: 12px;
    flex-wrap: wrap;
    justify-content: center;
}
.owner-buttons {
    display: flex;
    gap: 12px;
    width: fit-content;
}

.owner-buttons button {
    font-size: 16px;
    color:aliceblue;
    background-color: rgba(240, 248, 255, 0.077);
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
  
}
.add-owner {
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.544);
    display: flex;
    padding: 12px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
}